<a href="https://colab.research.google.com/github/H-y-hoon/Python_programming1/blob/main/05_24_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
10/0

ZeroDivisionError: ignored

In [ ]:
int('30,000')

ValueError: ignored

In [ ]:
a = 30_000
print(A)

NameError: ignored

In [ ]:
print(a)

30000

In [ ]:
import aodjfpajdosd j

SyntaxError: ignored

In [ ]:
import ajoaspj

ModuleNotFoundError: ignored

In [ ]:
int('3.9')

ValueError: ignored

In [ ]:
int('3_000')

3000

In [ ]:
int(3_000)

3000

In [ ]:
import math

In [ ]:
a = list('abc')
a[3]

IndexError: ignored

In [ ]:
b + 2

NameError: ignored

In [ ]:
try:
  10/0
  print('실행할수 없습니다')
except:
  print('exception!')

exception!

In [ ]:
try:
  a = int(3.14)
except ValueError as e:
  print('type:', type(e), '\nformaty:', format(e))

In [ ]:
int('3.14')

ValueError: ignored

In [ ]:
try:
  a = int(input('1st nember'))
  b = int(input('2nd number'))
  print(a,b)
  print('aaa')

except ZeroDivisionError as e:
  print('0으로 나누려고 하면 에러가 뜹니다')
except ValueError as e:
  print('정수형으로 변환이 불가능합니다')

else:
  print('문제 없이 실행합니다')
finally:
  print('코드끝!')

1st nember2.4
정수형으로 변환이 불가능합니다
코드끝!

In [ ]:
import math

In [ ]:
try:
  n = int(input('양의 정수를 압력하새요:'))
  if n <= 0:
    raise Exception('양의 정수를 입력하라니까!')

except Exception as e:
  print(format(e))
  print(type(e))

else:
  print(f'입력한 양의 정수는 %f입니다')

양의 정수를 압력하새요:2
입력한 양의 정서는 %f입니다

In [ ]:
f = open('python.txt', 'w')
f.write('이것은 첫줄입니다\n')
f.write('이것은 둘쨰줄인데 행변경은 안해봄')
f.write('이것은 셋쨰 줄인데 아마 둘째줄일걸?')
f.close()

In [ ]:
f = open('python.txt', 'r')
s = f.read()
print(s)
f.close()

이것은 첫줄입니다
이것은 둘쨰줄인데 행변경은 안해봄이것은 셋쨰 줄인데 아마 둘째줄일걸?

In [ ]:
for row in s:
  print(row)

이
것
은

첫
줄
입
니
다


이
것
은

둘
쨰
줄
인
데

행
변
경
은

안
해
봄
이
것
은

셋
쨰

줄
인
데

아
마

둘
째
줄
일
걸
?

In [ ]:
f = open('python.txt', 'r')
while True:
  line = f.readline( )
  if not line:break
  print(line)

f.close()

이것은 첫줄입니다

이것은 둘쨰줄인데 행변경은 안해봄이것은 셋쨰 줄인데 아마 둘째줄일걸?

In [ ]:
try:
  f = open('python.txt', 'r')

except FileNotFoundError as e:
  print('파일이 없습니다')

else:
  for l in f.readlines():
    print(l.strip)

SyntaxError: ignored

In [ ]:
with open('python.txt', 'x') as f:

SyntaxError: ignored

In [ ]:
import pickle as pk

In [ ]:
lst = list('abcdefg')
month = {1:'jan', 2:'feb', 3:'mar'}

test_var = 3.14

with open('mydata.pic', 'wb') as f:
  pk.dump(lst, f)
  pk.dump(month, f)
  pk.dump(test_var, f)

In [ ]:
with open('mydata.pic', 'rb') as f:
  a = pk.load(f)
  b = pk.load(f)
  c = pk.load(f)

print(a)
print(b)
print(c)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
{1: 'jan', 2: 'feb', 3: 'mar'}
3.14

In [ ]:
#424 페이지
import os

os.rename('mydata.pic', 'new.pic')

In [ ]:
os.remove('new.pic')

In [ ]:
os.getcwd()

'/content'

In [ ]:
os.listdir()

['.config', 'drive', 'python.txt', 'sample_data']

In [ ]:
os.mkdir('새폴더')

In [ ]:
os.rmdir('새폴더')